@import 'common/base.scss';

.video-preview-image {
 
}
.created-label {
 
}
.updated-label {
 
}

.meta-and-delete-wrapper {
	text-align:left;
}
 
div.videoWrapper {
	width: 100%;

	video {
		width: 100%;
	}
}