<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pitch_video.title %>
</p>

<%= link_to 'Edit', edit_pitch_video_path(@pitch_video) %> |
<%= link_to 'Back', pitch_videos_path %>
