

@import 'dashboard/colors.scss';
@import 'common/base.scss';

body {
	background-color: $colorGrayLightest;
}
.dashboard-post {
	background-color: #ffffff;
	border: solid 1px $colorGrayLighter;

	.banner {
		img {
			border-bottom: solid 1px $colorGrayLighter;
			width: 100%;
			max-width: 100%;
		}
	}

	.body {

		padding: $std-padding*2;
	 
		.headline {

			padding: 0;
			margin: 0;
			color: $colorGrayDark;

			&:hover {
				color: $colorGrayDark;
			}
			&:visited {
				color: $colorGrayDark;
			}
			&:focus {
				color: $colorGrayDark;
			}

			
		}

	}

	.share-footer {
		padding: $std-padding*2;

		ul {
			text-align:center;
			display: inline-block;
 			margin: 0;
 			padding: 0;

			li {
				display: inline-block;

				margin: $std-margin;

				&:first-child {
					margin-left: 0px;
				}
				&:last-child {
					margin-right: 0px;
				}
			}

		}
	}

}
 

